@typeparam TModel where TModel : IEntityWithName

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label> @Label </label>
        <div>
            <InputText class="form-control shadow-none" @bind-Value="@Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>
    <button class="btn btn-sm btn-primary" type="submit"><i class="bi bi-floppy" />  Save Changes</button>
    <button class="btn btn-sm btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left" /> Back to list</button>
</EditForm>