@typeparam Titem

@if (IndexList is null)
{
    @if (Loading is null)
    {
       <Loading/>
    }
    else
    {
        @Loading
    }
}
else if (IndexList.Count == 0)
{
    @if (NoRecords is null)
    {
        <div class="align-items-center">
            <p>No hay registros para mostrar.</p>
        </div>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}