

<div class="d-flex justify-content-center align-items-center">
    @*<img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" />*@
    <img src="https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif" />
</div>