<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm Enhance="true" EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Category:</label>
        <div>
            <InputText class="form-control shadow-none smfont" @bind-Value="@Category.Name" />
            <ValidationMessage For="@(() => Category.Name)" />
        </div>
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Save</button>
    <button class="btn btn-sm btn-success" @onclick="ReturnAction">Return</button>
</EditForm>