@page "/countries"

<h4 class="text-muted">Countries List</h4>

<GenericList IndexList="Countries">
    <Body>
        <table class="table table-striped table-hover smfont">
            <thead>
                <tr>
                    <th>Country Name</th>
                    <th>States Count</th>
                    <th> <a class="btn btn-sm btn-primary" href="/countries/create"><i class="bi-plus-circle"></i> Add Country</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>@country.StatesNumber</td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning"><i class="bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-info btn-sm" href="/countries/details/@country.Id"><i class="bi-list"></i> Details</a>
                            <button @onclick=@(() => DeleteAsycn(country)) class="btn btn-sm btn-danger"><i class="bi-trash"></i> Del</button>
                        </td>
                        <td></td>
                    </tr>

                }
            </tbody>
        </table>
    </Body>
</GenericList>